<h1>Greetings#hello</h1>
<p>Find me in app/views/greetings/hello.html.erb</p>

<html>
<body>

    <h1>My First JavaScript</h1>

    <p>JavaScript can change the content of an HTML element:</p>

    <p id="state">Stage</p>
    <p></p>
    <p></p>

    <p id="selite"></p>
    <p></p>
    <p></p>

    <p>Tähän tulee numerot:</p><p id="numero">OOO</p>
    <p>Tähän tulee syöte:</p><p id="input">OOO</p>

    <!-- ladataan JavaScript-koodit tiedoston lopussa! -->
    <script src="javascript/code.js"></script>
</body>
</html>

